# Tuple

A tuple is a read-only list. To define a tuple we use `()`, by passing at least two elements separated by a comma, by passing 1 element and a comma

In [2]:
point = (1, 2)
print(type(point))
point = 1, 2
print(type(point))
point = 1
print(type(point))
point = 1,
print(type(point))
point = ()
print(type(point))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

We can concatenate two tuples with the `+` operator.

In [3]:
point = (1, 2) + (3, 4)
print(point)
print(type(point))

(1, 2, 3, 4)
<class 'tuple'>

To repeat a tuple we use the `*` operator

In [4]:
point = (1, 2) * 5
print(point)
print(type(point))

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)
<class 'tuple'>

To convert a list to a tuple, we use the `tuple` function. We can use this function to convert any iterable to a tuple.

In [5]:
point = tuple([1, 2])
print(type(point))

<class 'tuple'>

In [7]:
point = tuple("Hello World")
print(point)
print(type(point))

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
<class 'tuple'>

We can access individual items using an index

In [10]:
point = (1, 2, 3)
print(point[1])
print(point[0:2])

2
(1, 2)

We can unpack tuples too.

In [12]:
x, y, z = point
print(x)
print(y)
print(z)

1
2
3

We can use the `in` operator to check for the existance of an item in a tuple

In [13]:
if 10 in point:
    print("exists")
else:
    print("not found")

not found