# Data classes

When working with data-only classes, we can use a `namedtupple` function from the `collections` module.

The first argument of our function call to `namedtuple` is the name of the new type we want to create. As a second argument we pass an array of attribute names.

In [5]:
from collections import namedtuple
Point = namedtuple("Point", ["x", "y"])
p1 = Point(x=1, y=2)
p2 = Point(x=1, y=2)

In [6]:
print(p1 == p2)

True

In [8]:
print(id(p1))
print(id(p2))

3006387427968
3006387428736